@model IEnumerable<TourAgency.Web.Models.TourViewModel>
@using TourAgency.Web.Models;
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <br />
    <br />
    <h2 class="text-center">Hot tours</h2>
    @using (Html.BeginForm("OrderTour", "Customer", FormMethod.Post))
    {
        <div class="container-fluid d-flex flex-wrap">
            @foreach (var tour in Model)
            {
                <div class="card mr-3 ml-3 mb-3 mt-3 bg-light" style="width: 18rem;">
                    <div style="position:relative;">
                        <div style="position:absolute; margin-left:15px;" class="area">H O T</div>
                        <img class="card-img-top" src="@Url.Content("~/Content/Image/" + tour.ImagePath)" />
                    </div>
                    <div class="card-body text-center">
                        <p>Price: @tour.Price</p>
                        <p>Max people: @tour.MaxNumberOfPeople</p>
                        <p>Start: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", tour.StartOfTour))</p>
                        <p>End: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", tour.EndOfTour))</p>
                        <p>City: @tour.City.NameCity</p>
                        <p>Type: @tour.TypeOfTour.Type</p>
                        @Html.ActionLink("Order Tour", "OrderTour", new { id = tour.Id }, new { @class = "btn btn-success w-50 d-block mx-auto" })
                    </div>
                </div>
            }
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        {
            toastr.options.positionClass = 'toast-bottom-left';
              if ('@ViewData["status"]' == "success")
              {
                    toastr.success('@ViewData["message"]');
              }
              else { }
        }
        });
</script> 