@model TourAgency.Web.Models.TourViewModel

@{
    ViewBag.Title = "Order Tour";
}
<div class="container">
    <br />
    <br />
    <div class="card">
        <div class="card-header">
            Order Tour
        </div>
        <div class="card-body">
            @using (Html.BeginForm("OrderTour", "Customer", FormMethod.Post, htmlAttributes: new { @id = "Form" }))
            {
                <img src="@Url.Content("~/Content/Image/" + Model.ImagePath)" />
                @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id, htmlAttributes: new { @name = "id" })
                <b>Type of tour:</b>
                @Html.DisplayFor(model => model.TypeOfTour.Type)
                <br />
                <b>Type of hotel:</b>
                @Html.DisplayFor(model => model.TypeOfHotel.Type)
                <br />
                <b>Max number of people:</b>
                @Html.DisplayFor(model => model.MaxNumberOfPeople)
                <br />
                <b>Price:</b>
                @Html.DisplayFor(model => model.Price)
                <p class="text-danger font-weight-bold">Price for you: @ViewBag.PriceForCustomer</p>
                <b>City:</b>
                @Html.DisplayFor(model => model.City.NameCity)
                <br />
                <b>Tour start date:</b>
                @Html.DisplayFor(model => model.StartOfTour)
                <b>Tour end date:</b>
                @Html.DisplayFor(model => model.EndOfTour)
                <br />
                <b>Real number of people:</b>
                <input name="realNumberOfPeople" type="number" min="1" max="15" maxlength="3" autocomplete="off" class="form-control numInput">
                @Html.ValidationMessageFor(model => model.MaxNumberOfPeople, "", new { @class = "text-danger" })
                <br />
                <a href="#popup" class="popup-link btn btn-success w-50">Order</a>
                <div id="popup" class="white-popup mfp-hide text-center">
                    <p>
                        Are you sure you want to order?
                    </p>
                    <div class="d-flex justify-content-around">
                        <input type="submit" value="Yes" class="popup-ok btn btn-success" />
                        <input type="submit" value="No" class="popup-no btn btn-danger" />
                    </div>
                </div>
                <br />
                <br />
                @Html.ActionLink("Back", "Index", "Customer", null, new { @class = "btn btn-primary w-50", @id = "Close" })
            }
        </div>
    </div>
</div>
