@model TourAgency.Web.Models.CustomerViewModel

@{
    ViewBag.Title = "ChangeDiscount";
}
<div class="container">
    <br />
    <br />
    <div class="card">
        <div class="card-header">
            Change discount
            <b>@Model.Name @Model.Surname</b>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ChangeDiscount", "Manager", FormMethod.Post, htmlAttributes: new { @id = "Form" }))
            {
                @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id, htmlAttributes: new { @name = "id" })
                <p>Old max discount: @Model.MaxDiscount</p>
                <b>New max discount:</b><br />
                <input name="maxDiscount" type="number" min="0" max="75" maxlength="3" autocomplete="off" class="form-control numInput">
                @Html.ValidationMessageFor(model => model.MaxDiscount, "", new { @class = "text-danger" })<br />
                <p>Old step discount: @Model.StepDiscount</p>
                <b>New step discount:</b><br />
                <input name="stepDiscount" type="number" min="1" max="10" maxlength="3" autocomplete="off" class="form-control numInput">
                @Html.ValidationMessageFor(model => model.StepDiscount, "", new { @class = "text-danger" })
                <br />
                <a href="#popup" class="popup-link btn btn-success w-50">Update</a>
                <div id="popup" class="white-popup mfp-hide text-center">
                    <p>
                        Are you sure you want to update discount?
                    </p>
                    <div class="d-flex justify-content-around">
                        <input type="submit" value="Yes" class="popup-ok btn btn-success" />
                        <input type="submit" value="No" class="popup-no btn btn-danger" />
                    </div>
                </div>
                <br />
                <br />
                @Html.ActionLink("Back to List", "UpdateCustomerInformation", null, new { @class = "btn btn-primary", @id = "Close" })
            }
        </div>
    </div>
</div>
