@model TourAgency.Web.Models.Paginations.TourPaginViewModel
@using TourAgency.Web.Helpers
@{
    ViewBag.Title = "InfoTourSelect";
}

<h2>UpdateInfoTour</h2>

<table class="table">
    <tr>
        <th>
            Price
        </th>
        <th>
            Max Number Of People
        </th>
        <th>
            Number Of Orders
        </th>
        <th>
            Is Hot
        </th>
        <th>
            End Of Tour
        </th>
        <th>
            Start Of Tour
        </th>
        <th>
            City
        </th>
        <th>
            Type Of Hotel
        </th>
        <th>
            Type Of Tour
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tours)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfOrders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartOfTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.NameCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfHotel.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTour.Type)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateTour", new { id = item.Id })
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Delete", "DeleteTour", "Admin", new { id = item.Id },
                                 new { @class = "btn btn-danger w-50 d-block mx-auto" })
                }
            </td>
        </tr>
    }

</table>
<br />
<nav aria-label="...">
    <ul class="pagination pagination-lg">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("InfoTourSelect", new { page = x }))
    </ul>
</nav>
