@model TourAgency.Web.Models.TourViewModel

@{
    ViewBag.Title = "DeleteTour";
}

<div class="card-body">
    <div class="col-sm-6 mx-auto">
        <div class="card">
            <h4 class="text-center">Delete Tour</h4>
            <h3 class="text-center">Are you sure you want to delete this?</h3>
            <div class="card-body">
                @using (Html.BeginForm("DeleteTour", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id, htmlAttributes: new { @name = "id" })
                    <b>Type of tour:</b>
                    @Html.DisplayFor(model => model.TypeOfTour.Type)
                    <br />
                    <b>Type of hotel:</b>
                    @Html.DisplayFor(model => model.TypeOfHotel.Type)
                    <br />
                    <b>Max number of people:</b>
                    @Html.DisplayFor(model => model.MaxNumberOfPeople)
                    <br />
                    <b>Price:</b>
                    @Html.DisplayFor(model => model.Price)
                    <br />
                    <b>City:</b>
                    @Html.DisplayFor(model => model.City.NameCity)
                    <br />
                    <b>Tour start date:</b>
                    @Html.DisplayFor(model => model.StartOfTour)
                    <br />
                    <b>Tour end date:</b>
                    @Html.DisplayFor(model => model.EndOfTour)
                    <br />
                    <input type="submit" class="btn btn-danger w-50" value="Delete" />
                    <br />
                    <br />
                    @Html.ActionLink(linkText: "Back to List", actionName: "InfoTourSelect", controllerName: "Manager", htmlAttributes: new { @class = "btn btn-primary w-50" }, routeValues: null)
                }
            </div>
        </div>
    </div>
</div>
